body {
  color: var(--main-text);
  background: var(--white);
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  color: var(--black);
  text-align: center;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.subtitle {
  max-width: 335px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.title-decor {
  position: relative;
}

.title-decor::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--transparent-green);
  z-index: -1;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 1.2;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
  }

  .subtitle {
    max-width: 709px;
    margin-bottom: 64px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 30px;
  }
}
