:root {
  --main-text: rgba(18, 20, 23, 0.5);
  --black: #121417;
  --green: #4dc274;
  --green-linear: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --light-green: #d4fde1;
  --dark-green: #38ae5f;
  --gray: #f3f5f6;
  --white: #ffffff;
  --transparent-green: #bee8cc;
  --common-transition: 250ms linear;
}
