:root {
  --main-text: rgba(18, 20, 23, 0.50);
  --black: #121417;
  --green: #4DC274;
  --green-linear: linear-gradient(80deg, #4DC274 0%, #BEE8CC 100%);
  --light-green: #D4FDE1;
  --dark-green: #38AE5F;
  --gray: #F3F5F6;
  --white: #ffffff;
}