.footer-section {
  background-color: var(--black);
  color: var(--white);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;
}

.footer-logo-link {
  display: block;
  width: fit-content;
  color: var(--white);
  font-size: 20px;
  line-height: 1.37;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.contact-list-item {
  font-style: normal;
  line-height: 1.28;
  font-size: 14px;
  position: relative;
}

.contact-list-label {
  letter-spacing: -0.02em;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.60);
  opacity: 0.9;
}

.contact-list-link {
  display: block;
  font-weight: 600;
  color: var(--white);
  transition: color var(--common-transition);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--green);
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-list-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
}

.footer-nav-list-link {
  position: relative;
}

.footer-nav-list-item:hover .footer-nav-list-link::after,
.footer-nav-list-link:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 37px;
  height: 2px;
  background-color: var(--green);
}

.social-link-list {
  display: flex;
  gap: 12px;
}

.social-link-list-icon {
  fill: var(--white);
  opacity: 0.8;
  transition: fill var(--common-transition);
}

.social-link-list-link {
  width: 42px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--common-transition);
}

.social-link-list-link:hover .social-link-list-icon,
.social-link-list-link:focus .social-link-list-icon {
  fill: var(--green);
}

.social-link-list-link:hover,
.social-link-list-link:focus {
  border-color: rgba(77, 194, 116, 0.1)
}

.footer-policy-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  line-height: 1.28;
  letter-spacing: -0.02em;
  opacity: 0.9;
}

.footer-policy-list {
  display: flex;
  gap: 18px
}

.footer-policy-list-link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: -0.02em;
  transition: color var(--common-transition);
}

.footer-policy-list-link:hover,
.footer-policy-list-link:focus {
  color: var(--green);
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: row;
    align-items: start;
    gap: 0;
    padding: 32px 0 110px;
  }

  .footer-logo-link {
    margin-bottom: 32px;
    margin-right: 153px;
  }

  .footer-navigation {
    margin-right: 131px
  }

  .social-link-list-icon {
    width: 28px;
    height: 28px;
  }

  .social-link-list-link {
    width: 44px;
    height: 44px;
  }

  .footer-policy-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    padding: 64px 0;
  }

  .footer-logo-link {
    margin-bottom: 32px;
    margin-right: 314px;
  }

  .footer-navigation {
    margin-right: 292px;
  }

  .footer-policy-wrapper {
    padding: 23px 0;
  }
}