.hero-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 96px;
  }
}

.hero-container {
  position: relative;
  background-color: lightgray;

  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-bottom: 1px;

  @media screen and (min-width: 768px) {
    border-radius: 30px;
  }
}

.hero-title {
  padding-top: 425px;
  padding-bottom: 40px;
  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: calc(40 / 38);
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    padding-bottom: 0;
    display: block;
    width: 488px;
    padding-top: 260px;
    font-size: 60px;
    line-height: calc(70 / 60);
  }

  @media screen and (min-width: 1280px) {
    padding-top: 164px;
    width: 564px;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero/hero-mob-bckgrd.png);
  }
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx),
  screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../img/hero/hero-mob-bckgrd2@x.png');
  }
}

.title-highlight {
  color: var(--transparent-green);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  border-radius: 12px;
  border: none;
  padding: 14px 78px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(24 / 14);
  letter-spacing: 0;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    padding: 16px 64px;
    margin: 0;
    border-radius: 12px;
    width: 306px;
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--dark-green);
}

.down-anchor {
  display: flex;
  position: absolute;
  right: 14px;
  bottom: 14px;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: var(--white);
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 48px;
    right: 32px;
    bottom: 32px;
  }
}

.down-anchor-icon {
  fill: var(--green);
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.down-anchor:hover,
.down-anchor:focus {
  background-color: var(--green);
}

.down-anchor:hover .down-anchor-icon {
  fill: var(--white);
}

.down-anchor:focus .down-anchor-icon {
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 768px;
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero/tablet-bckgrd.jpg);
  }

  .hero-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    padding-bottom: 295px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero/tablet-bckgrd@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    max-width: 1280px;
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero/hero-desktop-bckgrd.jpg);
  }

  .hero-box {
    padding-bottom: 163px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi),
  screen and (min-width: 1158px) and (min-resolution: 2dppx),
  screen and (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1158px) and (min-device-pixel-ratio: 2) {
  .hero-container {
    max-width: 1280px;
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero/hero-desktop-bckgrd@2x.jpg);
  }
}
