.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 20, 23, 0.4);
  transition: opacity 1000ms, visibility 1000ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 240px;
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 248px 45px 20px 45px;
  background-color: var(--green);
  transform: translateX(100%);
  transition: transform var(--common-transition);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu-nav {
  flex-grow: 1;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.close-btn-icon {
  stroke-width: 3px;
  stroke: var(--white);
}

.mobile-menu-nav-list-link {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
}

.mobile-menu-nav-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.mobile-menu-nav-list-item {
  text-align: center;
}

.mobile-menu-socials-list {
  display: flex;
  gap: 12px;
}

.mobile-menu-social-list-item {
  display: flex;
  padding: 8px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 42px;
  height: 42px;
  transition: fill var(--common-transition);
}

.mobile-menu-social-list-item:focus
  .mobile-menu-social-link
  > .mobile-menu-social-list-icon,
.mobile-menu-social-list-item:hover
  .mobile-menu-social-link
  > .mobile-menu-social-list-icon {
  fill: rgba(255, 255, 255, 0.2);
}
.mobile-menu-social-link {
  width: 100%;
  height: 100%;
}

.mobile-menu-social-list-icon {
  fill: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-menu {
    width: 384px;
  }
  .close-btn-icon {
    width: 20px;
    height: 20px;
  }
  .mobile-menu-social-list-icon {
    width: 28px;
    height: 28px;
  }

  .mobile-menu-social-list-item {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
