<section class="section container feedback" id="feedback">
  <h2 class="visually-hidden">Feedback</h2>
  <p class="title feedback-title">
    What our <span class="title-decor">students</span> say
  </p>
  <p class="feedback-text">
    Hear from our students about their learning journey with us, as they share
    their experiences, progress, and the transformative impact
  </p>
  <ul class="feedback-list list">
    <li class="feedback-list-item">
      <div class="feedback-list-item-head">
        <picture>
          <source srcset="./img/anna.jpg 1x, ./img/anna@x2.jpg 2x" />
          <img src="./img/anna.jpg" alt="Anna" width="50" />
        </picture>
        <div class="feedback--list-itema-head-wrap">
          <p class="feedback-list-item-head-name">Anna</p>
          <span class="feedback-list-item-head-position">Student</span>
        </div>
      </div>
      <p class="feedback-list-item-text">
        My experience at the language school has been nothing short of amazing.
        The teachers are dedicated and the learning environment is stimulating.
        I feel more confident in my English skills.
      </p>
    </li>
    <li class="feedback-list-item">
      <div class="feedback-list-item-head">
        <picture>
          <source srcset="./img/mykhailo.jpg 1x, ./img/mykhailo@x2.jpg 2x" />
          <img src="./img/mykhailo.jpg" alt="Anna" width="50" />
        </picture>
        <div class="feedback--list-itema-head-wrap">
          <p class="feedback-list-item-head-name">Mykhailo</p>
          <span class="feedback-list-item-head-position">Student</span>
        </div>
      </div>
      <p class="feedback-list-item-text">
        The school offers a great balance of language theory and practical
        exercises. The personalized feedback from the teachers has helped me
        improve my weak areas.
      </p>
    </li>
    <li class="feedback-list-item">
      <div class="feedback-list-item-head">
        <picture>
          <source srcset="./img/victoria.jpg 1x, ./img/victoria@x2.jpg 2x" />
          <img src="./img/victoria.jpg" alt="Anna" width="50" />
        </picture>
        <div class="feedback--list-itema-head-wrap">
          <p class="feedback-list-item-head-name">Victoria</p>
          <span class="feedback-list-item-head-position">Student</span>
        </div>
      </div>
      <p class="feedback-list-item-text">
        I love the dynamic and interactive teaching methods used here. It's a
        great place to learn English in a fun and effective way. I have
        definitely seen a big improvement in my language skills.
      </p>
    </li>
  </ul>
</section>
