<section class="appointment" id="form">
  <div class="container">
    <h2 class="title appointment-title">Leave an application</h2>
    <p class="appointment-text-description">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="appointment-wrap">
      <div class="appointment-advantages">
        <p class="advantages-text-number">1000</p>
        <p class="advantages-text">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="appointment-form">
        <label class="appointment-form-label">
          <input
            class="appointment-form-input"
            required
            type="text"
            placeholder="Name"
            name="customer-name"
            minlength="2"
            pattern="[A-Z a-z]+"
          />
          <svg class="appointment-form-input-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-error-mark"></use>
          </svg>
        </label>
        <label class="appointment-form-label">
          <input
            class="appointment-form-input"
            required
            type="email"
            placeholder="Email"
            name="customer-email"
          />
          <svg class="appointment-form-input-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-error-mark"></use>
          </svg>
        </label>
        <label class="appointment-form-label">
          <input
            class="appointment-form-input"
            required
            type="tel"
            placeholder="Phone"
            name="customer-phone"
            pattern="[0-9+]+"
          />
          <svg class="appointment-form-input-icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-error-mark"></use>
          </svg>
        </label>
        <label class="appointment-form-label">
          <textarea
            class="appointment-form-textarea"
            type="text"
            placeholder="Comment"
          ></textarea>
        </label>
        <p class="appointment-form-text-radiogroup">Choose a teacher</p>

        <ul class="list appointment-form-radio-wrap">
          <li>
            <label class="appointment-form-radio-label">
              <input
                class="appointment-form-radio"
                checked
                type="radio"
                name="teacher"
                value="Maria"
              />
              <span class="appointment-form-radio-custom"></span>
              <span class="appointment-form-radio-text">Maria</span>
            </label>
          </li>
          <li>
            <label class="appointment-form-radio-label">
              <input
                class="appointment-form-radio"
                type="radio"
                name="teacher"
                value="Artem"
              />
              <span class="appointment-form-radio-custom"></span>
              <span class="appointment-form-radio-text">Artem</span>
            </label>
          </li>
          <li>
            <label class="appointment-form-radio-label">
              <input
                class="appointment-form-radio"
                type="radio"
                name="teacher"
                value="Ilona"
              />
              <span class="appointment-form-radio-custom"></span>
              <span class="appointment-form-radio-text">Ilona</span>
            </label>
          </li>
          <li>
            <label class="appointment-form-radio-label">
              <input
                class="appointment-form-radio"
                type="radio"
                name="teacher"
                value="Volodymyr"
              />
              <span class="appointment-form-radio-custom"></span>
              <span class="appointment-form-radio-text">Volodymyr</span>
            </label>
          </li>
        </ul>
        <button class="appointment-form-btn" type="submit">Send</button>
        <p class="appointment-form-text-policy">
          By clicking on “Send” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
