<section class="section hero-section">
  <div class="container desktop-container">
    <div class="hero-container">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="title-highlight">English</span> with us!
      </h1>
      <a href="#form" class="hero-btn" aria-label="link to section contact us">
        Leave an application
      </a>
      <a href="#footer" class="down-anchor" aria-label="link to page down">
        <svg class="down-anchor-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
