<div class="backdrop is-hidden" data-menu>
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button
      class="mobile-menu-close-btn js-close-menu"
      type="button"
      aria-label="close menu"
    >
      <svg class="close-btn-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list list">
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#about" aria-label="link to section about us">About us</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#lessons" aria-label="link to section lessons">Our lessons</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#teachers" aria-label="link to section teachers">Teachers</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#feedback" aria-label="link to section feedback">Reviews</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#form" aria-label="link to section contact us">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-socials">
      <ul class="mobile-menu-socials-list list">
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="mobile-menu-social-link"
            target="_blank"
            noopener
            noreferrer
            aria-label="link to facebook page"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="mobile-menu-social-link"
            target="_blank"
            noopener
            noreferrer
            aria-label="link to instagram page"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="mobile-menu-social-link link"
            target="_blank"
            noopener
            noreferrer
            aria-label="link to youtube channel"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
