<div class="backdrop is-hidden" data-modal>
  <div class="mobile-menu js-menu-container" id="mobile-menu">
    <button
      class="mobile-menu-close-btn js-close-menu"
      type="button"
      data-modal-close
    >
      <svg class="close-btn-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list list">
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#about">About us</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#lessons">Our lessons</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#teachers">Teachers</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#feedback">Reviews</a>
        </li>
        <li class="mobile-menu-nav-list-item">
          <a class="mobile-menu-nav-list-link" href="#form">Contact us</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu-socials">
      <ul class="mobile-menu-socials-list list">
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="mobile-menu-social-link"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="mobile-menu-social-link"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="mobile-menu-social-link link"
          >
            <svg class="mobile-menu-social-list-icon" width="26" height="26">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
