<section class="package section" id="package">
  <div class="package-container container">
    <h2 class="visually-hidden">Packages</h2>
    <p class="package-slogan">
      Master the <span class="package-slogan-accent">Language</span> with Our
      English Package!
    </p>
    <div class="package-benefits-container">
      <h3 class="package-benefits-title">Power of English</h3>
      <ul class="package-benefits-list">
        <li class="package-benefits-item">
          <span class="package-benefits-icon-wrapper" width="28" height="28">
            <svg class="package-benefits-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-down"></use>
            </svg>
          </span>
          <p class="package-benefits-text">
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="package-benefits-item">
          <span class="package-benefits-icon-wrapper">
            <svg class="package-benefits-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-down"></use>
            </svg>
          </span>
          <p class="package-benefits-text">
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="package-benefits-item">
          <span class="package-benefits-icon-wrapper" width="28" height="28">
            <svg class="package-benefits-icon" width="20" height="20">
              <use href="../img/sprite.svg#icon-down"></use>
            </svg>
          </span>
          <p class="package-benefits-text">
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>
      <a href="" class="package-benefits-link">Leave an application</a>
    </div>
  </div>
</section>
