<section class="section" id="teachers">
  <div class="container">
    <h2 class="title">Meet our <span class="title-decor">teachers</span></h2>
    <p class="subtitle text-center">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="list teachers-list">
      <li class="teachers-item">
        <img
          class="teachers-item-img"
          srcset="./img/maria@2x.jpg 2x"
          src="./img/maria.jpg"
          alt="Maria photo"
          width="150"
          height="150"
        />
        <h3 class="teachers-item-name title">Maria</h3>
        <p class="text-center">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-item-img"
          srcset="./img/artem@2x.jpg 2x"
          src="./img/artem.jpg"
          alt="Artem photo"
          width="150"
          height="150"
        />
        <h3 class="teachers-item-name title">Artem</h3>
        <p class="text-center">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-item-img"
          srcset="./img/ilona@2x.jpg 2x"
          src="./img/ilona.jpg"
          alt="Ilona photo"
          width="150"
          height="150"
        />
        <h3 class="teachers-item-name title">Ilona</h3>
        <p class="text-center">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-item">
        <img
          class="teachers-item-img"
          srcset="./img/volodymyr@2x.jpg 2x"
          src="./img/volodymyr.jpg"
          alt="Volodymyr photo"
          width="150"
          height="150"
        />
        <h3 class="teachers-item-name title">Volodymyr</h3>
        <p class="text-center">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
